<div id="divWeatherMainDay">
    <div *ngIf="WeatherData.isDay" class="divWeatherMain">
        <img src="https://i.pinimg.com/originals/a5/38/8c/a5388cf7c3411dfebf0e1530ea4f6445.png" style="width: 8%; margin-left: 25%;">
    </div>
    <div *ngIf="!WeatherData.isDay" class="divWeatherMainDay">
        <img src="https://www.pngfind.com/pngs/b/603-6033801_ftestickers-sky-moon-glowing-blackandwhite-fantasy-png-transparent.png" style="width: 10%; margin-left: 25%;">
    </div>


    <div class="weatherWidgetRow" style="font-size: 38px; margin-top: 5px;">{{WeatherData.temp_celcius}}º</div>
    <div class="weatherWidgetRow" style="font-size: 12px;">min. {{WeatherData.temp_min}}º / max. {{WeatherData.temp_max}}º</div>
    <div class="weatherWidgetRow" style="font-size: 38px; margin-top: 10px;">{{WeatherData.name}}</div>
<div id="alado">
    <div id="icons">
        <img src="https://cdn-icons-png.flaticon.com/512/6393/6393411.png" style="width: 16%;">
        <div class="weatherWidgetRow" style="font-size: 18px;">{{WeatherData.main.humidity}}%</div>
    </div>

    <div id="icons2">
        <img src="https://cdn-icons-png.flaticon.com/512/191/191055.png" style="width: 8%;">
        <div class="weatherWidgetRow" style="font-size: 18px;">{{WeatherData.wind.speed}} km/h</div>
    </div>
</div>
</div>