/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
}

.search{
    text-align: center;
    background-color: red;
}

.search input{
    background-color: var(--shadow--light);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1em;
    color: var(--gray-1);
    font-size: 0.8em;
    text-align: center;
}

#search{
    width: 50%;
}

